<p id="notice"><%= notice %></p>

<h1>Movies</h1>
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><%= link_to 'New Movie', new_movie_path, class: 'link-unstyled' %></button>
  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#rent_a_movie_modal">Rent a Movie</button>
</div>
<table class="table text-center">
  <thead>
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Director</th>
      <th class="text-center" colspan="2">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.name %></td>
        <td><%= movie.director %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <!--
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        -->
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'rent_a_movie' %>
<%= render 'rent_response' %>